<div class="content">
  <h2 class="text-center">SWARM Readings</h2>
  <div class="row mt-5">
    <div class="col-md-4 ml-auto">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Air Humidity</h5>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="ah-chart"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mr-auto">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Air Temperature</h5>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="at-chart"> </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mr-auto">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Light Intensity</h5>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="li-chart"> </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
